<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习框架搭建</title>
    <link rel="stylesheet" href="{$Think.config.public_path}/layui/css/layui.css" >
    <script src="{$Think.config.public_path}/layui/layui.js"></script>
</head>
<body>
<div class="layui-fluid layui-bg-gray">
    <div class="layui-row layui-bg-blue">
        <div class="layui-col-md3 layui-bg-cyan">3行</div>
        <div class="layui-col-md6">6行</div>
        <div class="layui-col-md3">3行</div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md3">3行</div>
        <div class="layui-col-md6">3行</div>
        <div class="layui-col-md3">3行</div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md3">3行</div>
        <div class="layui-col-md9">3行</div>
    </div>
</div>

</body>
</html>